.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 5px;
    text-align: center;
  }
  .highlight {
    background-color: rgb(202, 160, 244);
  }
  .highlight-column-left {
    background-color: lightgreen;
  }
  .highlight-multiples-five {
    background-color: lightblue;
  }
  .highlight-multiples-seven {
    background-color: lightsalmon;
  }
  .highlight-column-right {
    background-color: rgb(239, 199, 144);
  }
  .column-button {
    padding: 5px;
  }
  .my-button{
    margin-right: 550px;
  }